
<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LalNova Technologies</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
              
       <h2><a href="/">LalNova Technologies PLC</a></h2>
       <nav>
        <a href="/login">Log In</a>
       </nav>
    </header>
    <main>
        <h3>Log In to LalNova</h3>
        <p>LalNova Technologies Private Limited is a dynamic and innovation-driven technology company dedicated to delivering comprehensive ICT solutions that empower organizations to achieve digital transformation and operational excellence. Established with a vision to bridge the gap between technology and business efficiency, LalNova Technologies provides a wide range of professional services including software development, consultancy, data collection, data analytics, networking, and other ICT-related solutions tailored to meet diverse client needs.</p>
    </main>

    <footer>
        <small>&copy; LalNova Technologies</small>
    </footer>
    
</body>
</html>

